* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px 60px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 450;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Chilanka', cursive; */
  /* /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Livvic', sans-serif;
  /* font-family: 'Red Hat Text', sans-serif; */
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Source Code Pro', monospace;  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}